* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #E5E5E5;
  font-family: "Fira Sans", sans-serif;
}

.header {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.009em;
}
.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 46px;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.header__link {
  color: #000;
}
.header__contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.header__cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.header__phone {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
}
.header__location {
  color: #C93E33;
  font-weight: 400;
}
.header__main {
  height: 110px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.header__name {
  width: 112px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.009em;
}
.header__favour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.header__breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  padding-top: 17px;
}
.header__breadcrumb-active {
  font-weight: 500;
  color: #000;
}

.btn {
  width: 145px;
  height: 42px;
  background: #C93E33;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  color: #fff;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.009em;
}

.search {
  position: relative;
}
.search__icon {
  position: absolute;
  left: 17px;
  top: 13px;
}
.search__enter {
  position: absolute;
  top: 13px;
  right: 17px;
}
.search__input {
  width: 546px;
  height: 42px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding-left: 20px;
}

.container {
  width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 30px;
}
.head__name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 1px;
  color: #000000;
}
.head__left-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
}
.head__filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 31px;
}
.head__intrested {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.head__icon {
  position: relative;
}
.head__round {
  position: absolute;
  width: 22px;
  height: 22px;
  background: #C93E33;
  border-radius: 50%;
  top: -2px;
  left: -2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.head__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  justify-content: flex-start;
  width: 43px;
  height: 18px;
  background: #FFFFFF;
  border-radius: 50px;
  padding-left: 26px;
}

.shop__inner {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  justify-content: flex-start;
  align-items: flex-start;
}
.shop__filter {
  width: 269px;
}
.shop__cards {
  width: 840px;
}
.shop__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.shop__item {
  border: 0.5px solid #E6E6E6;
}
.shop__gost {
  cursor: pointer;
  background-color: #F9F9F9;
  padding: 6px 9px 5px 9px;
  border-radius: 4px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.009em;
}
.shop__gost-active {
  background-color: #C93E33;
  color: #fff;
}
.shop__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.drop-list {
  justify-content: space-between;
  width: 100%;
}

.gost {
  justify-content: flex-start;
  gap: 5px;
  padding: 18.5px 15px;
}

.filter {
  padding: 20px;
}
.filter__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.009em;
  color: #000000;
}
.filter__btn {
  width: 229px;
  height: 47px;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.009em;
  color: #B3B3B3;
  margin: 20px 0;
}
.filter__choose {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.009em;
  color: #B3B3B3;
}
.filter__choosen {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.009em;
}
.filter__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-items: flex-start;
}
.filter__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-items: flex-start;
}
.filter__item {
  cursor: pointer;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.009em;
  max-width: 211px;
}
.filter__item-active {
  background-color: #E5E5E5;
}
.filter__series {
  color: #B3B3B3;
}
.filter__more {
  color: #C93E33;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7.5px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.009em;
}
.filter__num {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0.009em;
  color: #EFEFEF;
  padding: 2px 4px;
  background: #C93E33;
  border-radius: 50px;
}

.card {
  position: relative;
  width: 280px;
  height: 420px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.card__inner {
  width: 280px;
  border: 0.5px solid #E6E6E6;
  padding: 20px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34px;
  background-color: #fff;
}
.card__cont {
  width: 100%;
}
.card__img {
  width: 179px;
  height: 196px;
}
.card__gost {
  padding: 4px 0;
  width: 83px;
  background: rgba(201, 62, 51, 0.1);
  border-radius: 2px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.009em;
  text-align: center;
  color: #C93E33;
}
.card__name {
  margin-top: 25px;
  margin-bottom: 37px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.009em;
  height: 18px;
}
.card__price {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.009em;
}
.card__btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  display: none;
  align-items: stretch;
  width: 100%;
}
.card__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.009em;
  width: 240px;
  height: 42px;
  background: #EFEFEF;
  border-radius: 4px;
}
.card__btn:hover {
  background: #C93E33;
  color: #fff;
}
.card__btn:hover .card__btn-icon {
  fill: #fff;
}
.card__btn-icon {
  fill: #000;
}
.card__best {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: none;
  color: #B3B3B3;
  top: 15px;
  right: 15px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.009em;
}
.card__plus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 15px;
  left: 15px;
}
.card__hit {
  border-radius: 50px;
  padding: 5px 0;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.009em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  width: 5.5em;
  background: #FD7272;
}
.card__action {
  border-radius: 50px;
  padding: 5px 0;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.009em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  width: 5.5em;
  background: #27AE60;
}
.card__price-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.card__col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: none;
  width: 108px;
  border: 1px solid #E6E6E6;
  border-radius: 2px;
}
.card__colplus {
  padding: 9px;
}
.card__colnum {
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  border-radius: 2px;
  width: 100%;
  line-height: 34px;
  text-align: center;
}

.card:hover .card__best {
  display: flex;
}

.card:hover .card__col {
  display: flex;
}

.card:hover .card__btns {
  display: flex;
}

.card:hover .card__inner {
  position: absolute;
  z-index: 1;
  box-shadow: 0px 12px 12px 4px rgba(0, 0, 0, 0.1);
}

.shop-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 25px;
  padding-left: 270px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.009em;
  text-align: center;
}
.shop-footer__nums {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.shop-footer__num {
  background: #FFFFFF;
  border-radius: 50%;
  line-height: 20px;
  width: 20px;
}
.shop-footer__pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.shop-footer__page {
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 2px;
  width: 36px;
  line-height: 36px;
  color: #B3B3B3;
  font-size: 12px;
}
.shop-footer__page-select {
  color: #000;
}
.shop-footer__more {
  color: #C93E33;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.009em;
}

.description {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-items: flex-start;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.009em;
}
.description__title {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.009em;
}
.description__more {
  color: #C93E33;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 80px;
}
.form__input {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 8px 20px;
  width: 500px;
}

.footer {
  margin-top: 67px;
  position: relative;
  padding: 0 auto;
  padding-top: 83px;
  background-color: #222628;
  width: 100%;
}
.footer__img {
  margin-left: -40px;
}
.footer__form {
  position: absolute;
  top: -67px;
}

.cart {
  z-index: 1;
  position: absolute;
  top: -9px;
  right: -12px;
  background: #FFFFFF;
  box-shadow: 0px 12px 12px 4px rgba(0, 0, 0, 0.05);
  width: 232px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.009em;
}
.cart__total {
  color: #C93E33;
}
.cart__price {
  color: #B3B3B3;
}
.cart__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.009em;
  color: #FFFFFF;
  width: 202px;
  height: 35px;
  background: #C93E33;
  border-radius: 4px;
}
.cart__footer {
  padding: 16px 15px 35px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.cart__offer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.009em;
  color: #C93E33;
}
.cart__item {
  padding: 11px 15px;
  border-bottom: 1px solid #E6E6E6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 5px;
}
.cart__img {
  width: 22px;
  height: 22px;
  position: relative;
}
.cart__num {
  position: absolute;
  text-align: center;
  font-weight: 600;
  font-size: 8px;
  line-height: 11px;
  width: 15px;
  background-color: #C93E33;
  color: #EFEFEF;
  border-radius: 50%;
  top: -5px;
  right: -3px;
  border: 2px solid #fff;
}

.customer {
  position: relative;
  width: 280px;
  background-color: #fff;
}
.customer__close {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1px;
  border: 1px solid #7a7a7a;
  border-radius: 50%;
  color: #7a7a7a;
  position: absolute;
  right: 5px;
  top: 5px;
  padding-left: 4px;
  padding-top: 0px;
  padding-right: 2px;
  padding-bottom: 1px;
  text-align: center;
}
.customer__header {
  padding: 18px 20px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  border-bottom: 0.5px solid #E6E6E6;
}
.customer__inner {
  padding: 18px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-items: flex-start;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.009em;
  color: #B3B3B3;
}
.customer__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.customer__item {
  padding: 8px;
  display: flex;
  gap: 12px;
  border-bottom: 0.5px solid #E6E6E6;
  width: 100%;
}
.customer__footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.customer__total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #C93E33;
}
.customer__total-txt {
  color: black;
}
.customer__btn {
  background: #FFFFFF;
  border: 1px solid #C93E33;
  border-radius: 4px;
  color: #C93E33;
  padding: 12px 26px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 22px;
  justify-content: flex-start;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.009em;
}
.customer__btn:hover {
  background: #C93E33;
  color: #ffffff;
}
.customer__btn:hover .customer__btnsvg {
  fill: #EFEFEF;
  stroke: #EFEFEF;
}

.m {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */